body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: cyan;
}

.digital-clock {
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 5px;
}
